In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
#import datasette

%matplotlib inline

For this question you will need to read the `excel_data.xlsx` file into R using the readxl package. There are two sheets in this spreadsheet file named "Sheet1" and "Sheet2". Use the readxl package to read in "Sheet2" from the spreadsheet file directly and answer the question below. Recall that the [[ operator can be used to subset a column of tibble or data frame.

Wâ€‹hat is the mean of the column labeled "X12" in "Sheet2"? You can use the mean() function to compute the mean of a column. (Choose the closest answer.)

In [2]:
df = pd.read_excel("excel_data.xlsx", sheet_name="Sheet2")

In [3]:
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X79,X80,X81,X82,X83,X84,X85,X86,X87,X88
0,1,3.375210,5.210646,-11.072077,-8.711696,-6.148129,6.933913,-8.337289,6.313224,-2.550639,...,-2.366023,-8.654230,3.814667,-1.468354,-12.789051,0.440289,-2.444459,-0.815450,3.960970,-4.081367
1,2,7.806969,8.330096,-9.054248,-5.763643,-0.438113,7.749883,-6.836349,9.239251,0.860852,...,1.934782,-6.535314,4.279002,-1.165810,-11.859862,-0.841444,0.892135,4.493497,6.572287,-1.815032
2,3,6.610961,5.536544,-11.105982,-8.995462,-4.291766,6.581390,-10.286417,3.983980,-3.082480,...,-1.697965,-10.104252,1.031673,-3.693391,-11.228707,-2.964783,-2.221610,-0.320865,4.107909,-4.522196
3,4,4.870321,5.724413,-12.138441,-8.558896,-3.041733,9.440049,-10.074665,5.624255,-1.829881,...,-0.402478,-9.307485,3.213604,-1.251665,-9.459647,1.916918,-4.051091,-0.288527,4.347800,-4.243925
4,5,6.916049,9.471122,-12.044759,-6.429212,0.707676,7.892141,-7.387676,7.093039,-1.564244,...,1.465464,-8.556005,2.039210,-1.064337,-9.479644,3.649651,-1.136557,3.626403,8.305435,-4.885375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,10.202023,8.429098,-8.848790,-2.555650,-1.546032,12.674632,-5.078951,10.597923,0.663067,...,2.479997,-5.454569,5.708580,1.139442,-5.870917,-1.559212,0.086806,1.978589,6.907177,-3.826572
496,497,6.981409,5.119193,-8.771108,-6.149220,-1.909382,6.222691,-8.189803,5.386500,-4.075433,...,0.031064,-7.476561,2.287450,-3.416454,-12.222467,-3.414227,-3.150719,0.423649,1.709127,-6.284966
497,498,8.539190,8.919432,-8.504455,-5.255681,0.146340,10.269254,-6.438463,7.195516,-0.651069,...,2.224112,-8.434336,5.580736,0.699959,-9.283999,0.806999,1.876640,2.860170,7.606012,-1.363003
498,499,6.270813,6.562761,-8.950555,-7.459907,-2.680076,7.907228,-6.553265,6.972762,-2.933698,...,1.508510,-10.344565,5.328378,0.573277,-8.914225,1.337256,-2.568782,-0.270208,4.324388,-6.030035
499,500,6.781107,6.315525,-9.863513,-7.889287,-2.505951,3.939054,-8.264906,8.003005,-3.771100,...,-1.687809,-8.357529,5.817719,-1.810113,-11.456481,-0.078059,-1.702765,1.018073,5.373745,-3.811987

In [4]:
df["X12"].mean()

-4.028386189453764

Question 2

Continuing from Question 1 above, use the readxl package to read in both "Sheet1" and "Sheet2" from the excel_data.xlsx file. 

What is the correlation between column "X5" in "Sheet1" and column "X8" in "Sheet2"? Use the cor() function to compute the correlation between two columns. (Choose the closest answer.)

In [5]:
df2 = pd.read_excel("excel_data.xlsx", sheet_name="Sheet1")

In [6]:
df2

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X79,X80,X81,X82,X83,X84,X85,X86,X87,X88
0,1,7.817617,-1.414399,-10.541561,6.568306,-8.680840,-6.612334,8.178103,7.566317,-0.286386,...,0.865620,-3.045533,-9.478030,4.201808,-8.368884,8.949765,-3.992314,5.638496,2.353853,-8.757439
1,2,6.275695,-1.031125,-10.669743,9.696075,-8.693520,-5.252595,6.451914,7.823295,0.890247,...,3.055610,-2.045288,-8.648937,6.872613,-11.472712,7.921355,-4.875783,5.850322,2.908120,-8.005045
2,3,6.036321,-2.804219,-10.589764,5.542745,-13.165322,-8.419895,3.487128,4.401722,1.577494,...,-0.086413,-2.525611,-10.789020,3.218829,-11.544849,7.725618,-5.447279,2.782812,0.028006,-10.148436
3,4,5.348176,-0.445944,-8.220240,6.621104,-6.720640,-5.254417,8.107005,10.726429,-1.596707,...,1.009813,-1.619690,-8.874634,4.925436,-8.107924,7.781748,-3.973624,4.951568,1.333244,-9.248390
4,5,6.930328,-0.726124,-8.348390,9.649186,-8.463537,-3.135763,8.753217,10.693620,5.578900,...,2.975542,-0.350856,-8.900960,8.306791,-9.862547,10.010672,-1.381434,6.190564,4.544008,-7.565058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,5.015941,0.073306,-7.604270,6.133741,-10.473569,-7.539331,7.406017,8.368230,0.726378,...,-0.224915,0.392526,-8.903211,4.595115,-12.395591,6.768155,-3.996385,4.510455,0.900953,-7.813865
496,497,4.930649,-2.007856,-11.211082,6.047829,-12.968499,-9.163750,6.655095,7.303631,1.611982,...,-2.655094,-1.980782,-12.430009,4.410048,-8.957981,8.610759,-6.928986,1.725869,0.350097,-7.904830
497,498,5.219323,-0.630771,-11.373777,5.429259,-9.967456,-4.494437,5.504267,7.752353,0.532881,...,0.348784,-2.911233,-7.626601,3.807404,-9.282428,7.373192,-3.962105,3.108217,2.165899,-11.253798
498,499,8.593157,-0.359395,-9.691028,9.039502,-10.016004,-3.570225,9.163867,9.893495,0.613275,...,-0.388938,-2.531192,-10.511994,5.976095,-10.511594,7.170756,-4.490094,4.516331,2.455516,-9.011937
499,500,10.665398,4.243559,-6.344257,8.107286,-6.976099,-3.209837,8.183510,11.595039,4.710275,...,2.268521,0.260809,-9.670719,10.015318,-6.127103,9.150023,-0.491229,7.794371,3.721693,-6.389655

In [7]:
col1 = df["X8"]

In [8]:
col1

0       6.313224
1       9.239251
2       3.983980
3       5.624255
4       7.093039
         ...
495    10.597923
496     5.386500
497     7.195516
498     6.972762
499     8.003005
Name: X8, Length: 500, dtype: float64

In [9]:
col2 = df2["X5"]

In [10]:
col2

0      -8.680840
1      -8.693520
2     -13.165322
3      -6.720640
4      -8.463537
         ...
495   -10.473569
496   -12.968499
497    -9.967456
498   -10.016004
499    -6.976099
Name: X5, Length: 500, dtype: float64

In [11]:
df3 = pd.concat([col1,col2], axis=1)

In [12]:
df3

            X8         X5
0     6.313224  -8.680840
1     9.239251  -8.693520
2     3.983980 -13.165322
3     5.624255  -6.720640
4     7.093039  -8.463537
..         ...        ...
495  10.597923 -10.473569
496   5.386500 -12.968499
497   7.195516  -9.967456
498   6.972762 -10.016004
499   8.003005  -6.976099

[500 rows x 2 columns]

In [13]:
df3.corr()

          X8        X5
X8  1.000000 -0.037188
X5 -0.037188  1.000000

For this question you will need to read in the database file sqlite_data.db using the RSQLite package. In this database file there is table named "table1". You will need to read that table to answer this question.

The "ID" column in "table1" serves as and identification number for elements in the database table. What is the correlation between columns "S2" and "S3" for rows with ID equal to 8 only? (Hint: There should be 100 rows where ID = 8.)

In [14]:
db = sqlite3.connect("sqlite_data.db") #Create connection

In [15]:
cursor = db.cursor()

In [16]:
cursor.execute("SELECT * FROM table1")

In [17]:
df3 = pd.read_sql_query("SELECT * FROM table1", db)
df3

,ID,S1,S2,S3,S4,S5,S6,S7
0,1.0,-0.963004,1.287705,-8.428420,6.413888,3.753885,-7.476371,8.494751
1,1.0,-2.203610,-1.119257,-9.158429,4.117813,4.522557,-3.653237,10.386023
2,1.0,-0.858940,-2.177275,-8.565020,5.052586,3.556541,-5.081547,8.537469
3,1.0,-1.619047,-3.842570,-8.419124,9.697965,2.139297,-1.169072,12.396682
4,1.0,-1.838927,-0.887098,-6.005633,6.496537,5.867909,-1.043346,10.970122
...,...,...,...,...,...,...,...,...
1995,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df4 = df3[["ID","S2","S3"]]
df4

        ID        S2        S3
0      1.0  1.287705 -8.428420
1      1.0 -1.119257 -9.158429
2      1.0 -2.177275 -8.565020
3      1.0 -3.842570 -8.419124
4      1.0 -0.887098 -6.005633
...    ...       ...       ...
1995  20.0       NaN       NaN
1996  20.0       NaN       NaN
1997  20.0       NaN       NaN
1998  20.0       NaN       NaN
1999  20.0       NaN       NaN

[2000 rows x 3 columns]

In [19]:
df5 = df4[df4["ID"] == 8.0]

In [20]:
df5

      ID        S2         S3
700  8.0  1.068939  -4.876969
701  8.0 -1.356642  -6.980901
702  8.0  0.912813 -12.322147
703  8.0 -4.400103 -10.520441
704  8.0 -1.809983 -10.223106
..   ...       ...        ...
795  8.0 -0.764686 -10.384413
796  8.0  1.312013  -8.391600
797  8.0  0.847510 -12.332231
798  8.0  0.173489  -6.906425
799  8.0  2.038479  -9.854581

[100 rows x 3 columns]

In [21]:
df5.corr()

    ID        S2        S3
ID NaN       NaN       NaN
S2 NaN  1.000000  0.218654
S3 NaN  0.218654  1.000000

For this question you need to read in "Sheet2" from the excel_data.xlsx file using the readxl package and the data from the table2.json file using the jsonlite package. Then you need to inner join the two tables by their corresponding ID columns to create a new data frame.

What is the mean of column "J2" in the joined data frame?

In [22]:
df7 = pd.read_excel("excel_data.xlsx", sheet_name="Sheet2")
df7

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X79,X80,X81,X82,X83,X84,X85,X86,X87,X88
0,1,3.375210,5.210646,-11.072077,-8.711696,-6.148129,6.933913,-8.337289,6.313224,-2.550639,...,-2.366023,-8.654230,3.814667,-1.468354,-12.789051,0.440289,-2.444459,-0.815450,3.960970,-4.081367
1,2,7.806969,8.330096,-9.054248,-5.763643,-0.438113,7.749883,-6.836349,9.239251,0.860852,...,1.934782,-6.535314,4.279002,-1.165810,-11.859862,-0.841444,0.892135,4.493497,6.572287,-1.815032
2,3,6.610961,5.536544,-11.105982,-8.995462,-4.291766,6.581390,-10.286417,3.983980,-3.082480,...,-1.697965,-10.104252,1.031673,-3.693391,-11.228707,-2.964783,-2.221610,-0.320865,4.107909,-4.522196
3,4,4.870321,5.724413,-12.138441,-8.558896,-3.041733,9.440049,-10.074665,5.624255,-1.829881,...,-0.402478,-9.307485,3.213604,-1.251665,-9.459647,1.916918,-4.051091,-0.288527,4.347800,-4.243925
4,5,6.916049,9.471122,-12.044759,-6.429212,0.707676,7.892141,-7.387676,7.093039,-1.564244,...,1.465464,-8.556005,2.039210,-1.064337,-9.479644,3.649651,-1.136557,3.626403,8.305435,-4.885375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,10.202023,8.429098,-8.848790,-2.555650,-1.546032,12.674632,-5.078951,10.597923,0.663067,...,2.479997,-5.454569,5.708580,1.139442,-5.870917,-1.559212,0.086806,1.978589,6.907177,-3.826572
496,497,6.981409,5.119193,-8.771108,-6.149220,-1.909382,6.222691,-8.189803,5.386500,-4.075433,...,0.031064,-7.476561,2.287450,-3.416454,-12.222467,-3.414227,-3.150719,0.423649,1.709127,-6.284966
497,498,8.539190,8.919432,-8.504455,-5.255681,0.146340,10.269254,-6.438463,7.195516,-0.651069,...,2.224112,-8.434336,5.580736,0.699959,-9.283999,0.806999,1.876640,2.860170,7.606012,-1.363003
498,499,6.270813,6.562761,-8.950555,-7.459907,-2.680076,7.907228,-6.553265,6.972762,-2.933698,...,1.508510,-10.344565,5.328378,0.573277,-8.914225,1.337256,-2.568782,-0.270208,4.324388,-6.030035
499,500,6.781107,6.315525,-9.863513,-7.889287,-2.505951,3.939054,-8.264906,8.003005,-3.771100,...,-1.687809,-8.357529,5.817719,-1.810113,-11.456481,-0.078059,-1.702765,1.018073,5.373745,-3.811987

In [23]:
df8 = pd.read_json("table2.json")

In [24]:
df8

         ID       J1      J2       J3      J4
0         1  -8.2174  7.4102   9.2766  3.3266
1         2 -10.8079  7.2987  10.5005  1.7683
2         3  -9.3361  8.3981   9.5165  0.3363
3         4  -7.8180  6.5225   9.9440  3.9969
4         5  -9.4064  5.3252  10.3788  2.0424
...     ...      ...     ...      ...     ...
9995   9996  -8.7748  8.1260  10.0606  3.2045
9996   9997  -7.1262  7.6909   8.7672  1.5888
9997   9998  -8.3298  6.0934  10.8123  3.5867
9998   9999  -9.7782  7.3667  10.2655  1.4686
9999  10000  -8.2684  5.4830   8.2910  0.8983

[10000 rows x 5 columns]

In [25]:
df9 = pd.merge(left=df7, right=df8, how= 'inner', on="ID" )

In [26]:
df9

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X83,X84,X85,X86,X87,X88,J1,J2,J3,J4
0,1,3.375210,5.210646,-11.072077,-8.711696,-6.148129,6.933913,-8.337289,6.313224,-2.550639,...,-12.789051,0.440289,-2.444459,-0.815450,3.960970,-4.081367,-8.2174,7.4102,9.2766,3.3266
1,2,7.806969,8.330096,-9.054248,-5.763643,-0.438113,7.749883,-6.836349,9.239251,0.860852,...,-11.859862,-0.841444,0.892135,4.493497,6.572287,-1.815032,-10.8079,7.2987,10.5005,1.7683
2,3,6.610961,5.536544,-11.105982,-8.995462,-4.291766,6.581390,-10.286417,3.983980,-3.082480,...,-11.228707,-2.964783,-2.221610,-0.320865,4.107909,-4.522196,-9.3361,8.3981,9.5165,0.3363
3,4,4.870321,5.724413,-12.138441,-8.558896,-3.041733,9.440049,-10.074665,5.624255,-1.829881,...,-9.459647,1.916918,-4.051091,-0.288527,4.347800,-4.243925,-7.8180,6.5225,9.9440,3.9969
4,5,6.916049,9.471122,-12.044759,-6.429212,0.707676,7.892141,-7.387676,7.093039,-1.564244,...,-9.479644,3.649651,-1.136557,3.626403,8.305435,-4.885375,-9.4064,5.3252,10.3788,2.0424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,10.202023,8.429098,-8.848790,-2.555650,-1.546032,12.674632,-5.078951,10.597923,0.663067,...,-5.870917,-1.559212,0.086806,1.978589,6.907177,-3.826572,-9.6717,7.5138,11.0519,1.0756
496,497,6.981409,5.119193,-8.771108,-6.149220,-1.909382,6.222691,-8.189803,5.386500,-4.075433,...,-12.222467,-3.414227,-3.150719,0.423649,1.709127,-6.284966,-7.8621,7.6884,9.6592,1.7586
497,498,8.539190,8.919432,-8.504455,-5.255681,0.146340,10.269254,-6.438463,7.195516,-0.651069,...,-9.283999,0.806999,1.876640,2.860170,7.606012,-1.363003,-8.1294,7.2412,12.8270,2.1872
498,499,6.270813,6.562761,-8.950555,-7.459907,-2.680076,7.907228,-6.553265,6.972762,-2.933698,...,-8.914225,1.337256,-2.568782,-0.270208,4.324388,-6.030035,-8.6906,8.0641,9.1429,2.0783
499,500,6.781107,6.315525,-9.863513,-7.889287,-2.505951,3.939054,-8.264906,8.003005,-3.771100,...,-11.456481,-0.078059,-1.702765,1.018073,5.373745,-3.811987,-6.8407,7.2219,9.8157,2.2766

In [27]:
df9["J2"].mean()

6.936053600000002

In [28]:
df9[["X2","J4"]].corr()

         X2       J4
X2  1.00000  0.09077
J4  0.09077  1.00000